
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-breadcrumb {
    position:relative;
}

.navbar-breadcrumb-buttons {
    position:absolute;
    right:1rem;
    top:50%;
    transform:translateY(-50%);
}
